@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

.font-neo {
  font-family: 'Lexend Mega', sans-serif;
}